<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="wrapper">
        <h1>Mark Neuburger</h1>
        <p>Hi! I’m Mark, a software engineer in Philadelphia, PA. I'm a full stack developer with a focus on the front end. Currently, I work at PRA Health Sciences as Manager of Brand Technology, working with a small team to build cool stuff and automate away my job.</p>
        <p>I’m also a maker interested in rapid prototyping and physical computing. I often work on these skills at my local makerspace, NextFab, where I also teach a class on web design. Some of the projects I’ve made in the last few years are an LED music visualizer, a beat-visualizing musical heart, a laser cut yard sign, and a temperature-visualizing map of the US.</p>
        <p>Thanks for stopping by. Get in touch if you want to chat about software, making, or anything else!</p>
    </div>
</body>
</html>
