<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="content">
        <h1>Mark Neuburger</h1>
        <p>Hi! I’m a software engineer in Philadelphia, PA, with a focus on front-end web development. Currently, I work at PRA Health Sciences as Manager of Brand Technology, working with a small team to build cool stuff and automate away my job.</p>
        <p>I’m also a maker interested in rapid prototyping and physical computing. Practicing these skills is made easier by my local makerspace, NextFab, where I also teach a class on web design. Some of the projects I’ve made over the last few years include an LED music visualizer, a Valentine’s Day musical heart, a laser cut address sign, and a temperature-visualizing map of the US.</p>
        <p>Thanks for stopping by. Get in touch if you want to chat about software, making, or anything else!</p>
    </div>
</body>
</html>
