<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Mark Neuburger</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400"></link>
</head>
<body>
    <div class="md-modal md-effect-1" id="modal">
      <div class="md-content">
        <div class="title"></div>
        <div class="md-close" title="Close">
          <img src="assets/images/close.png">
        </div>
        <div class="scroll-content"></div>
      </div>
    </div>
    <div id="wrapper">
        <h1>Mark Neuburger</h1>
        <p>Hi! I’m Mark, a software engineer and web developer in Philadelphia, PA. Currently, I work at <a target="_blank" rel="noopener noreferrer" href="https://prahs.com/">PRA Health Sciences</a> as Manager of Brand Technology, working with a small team to build websites and more.</p>
        <p>I’m also a maker interested in rapid prototyping and physical computing. I spend a fair amount of time at my local makerspace, NextFab, where I also teach a class on web design. Some of the projects I’ve made in the last few years are an LED <a href="#" class="md-trigger" data-project="music-visualizer">music visualizer</a>, a beat-visualizing <a href="#" class="md-trigger" data-project="musical-heart">musical heart</a>, a laser cut <a href="#" class="md-trigger" data-project="address-sign">address sign</a>, and a light-up <a href="#">weather map</a>.</p>
        <p>Most of the code I've written recently isn't mine to share, but feel free to check out <a target="_blank" rel="noopener noreferrer" href="https://github.com/markneub/man-simple">this page's source</a> on GitHub. <a href="#">Send me an email</a> if you want to chat about software, making, through-hiking the Appalachian Trail or anything else!</p>
    </div>
    <div class="md-overlay"></div>
</body>
</html>
