@import './common';
@import './modal';

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background: radial-gradient(at top center, #002237 0%, $color-dark 100%);
  min-height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Georgia', serif;
  line-height: 1.5;
  color: $color-light;
  @include responsive-property(18, 20, font-size, 400, 800);
}

#wrapper {
  max-width: 800px;
  margin: 0 auto;
  @include responsive-property(24, 64, padding-right, 400, 800);
  @include responsive-property(24, 64, padding-left, 400, 800);
}

h1 {
  @include responsive-property(30, 40, font-size, 400, 800);
  @include responsive-property(32, 64, margin-top, 400, 800);
  @include responsive-property(0, 16, margin-bottom, 400, 800);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

p {
  a {
    @include link_hover_effects($color-primary);
  }
}
